{% extends 'vdc_module/vdc_module_base.html' %}
{% load static %}
{% load staticfiles %}
{% block tag_title %}
<title>vdc_instance_create_type</title>
{% endblock %}
{% block extracss %}
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />

    <!--自定义-->
    <link rel="stylesheet" href="{% static 'css/instance_build_type.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/jeditable/jquery.jeditable.js' %}"></script>
    <script src="{% static 'js/instance_build_type.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInRight gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ins-create-header">
                <h2><a class="J_menuItem" onclick="cancelBtn()" href="#"><span class="glyphicon glyphicon-backward"></span></a>&ensp;&ensp;&ensp;<b>创建实例类型</b></h2>
            </div>
            <div class="col-sm-12" style="margin-top: 20px;">
                <!--<form action="#" class="form-horizontal">-->
                    <!--<div class="form-group">-->
                <div class="form-group">
                     <div class="col-sm-12">
                         <ul class="nav nav-tabs">
                             <li class="active"><a href="#manage_1" data-toggle="tab">实例类型信息</a></li>
                             <li><a href="#manage_2" data-toggle="tab">实例类型使用权</a></li>
                         </ul>
                     </div>
                     <div class="tab-content">
                         <div class="tab-pane fade in active" id="manage_1">
                             <div class="col-sm-7">
                                 <div class="input-group m-b">
                                      <span class="input-group-addon">类型 名称</span>
                                      <input id="server_name" class="form-control" type="text" placeholder="实例类型名称">
                                 </div>
                                 <div class="input-group m-b">
                                     <span class="input-group-addon">VCPU数量</span>
                                     <input id="server_amount" class="form-control" type="number" placeholder="数量">
                                 </div>
                                 <div class="input-group m-b">
                                     <span class="input-group-addon">内存 (MB)</span>
                                     <input id="server_memory" class="form-control" type="number" placeholder="内存大小">
                                 </div>
                                 <div class="input-group m-b">
                                     <span class="input-group-addon">磁盘 (GB)</span>
                                     <input id="server_disk" class="form-control" type="number" placeholder="磁盘大小">
                                 </div>
                             </div>
                             <div class="col-sm-7">
                                 <button id="createVS_btn" class="btn btn-primary " style="border: none;">创建实例类型</button>
                                 <a href="#" class="btn btn-warning " style="border: none;" onclick="cancelBtn()">取消</a>
                             </div>
                         </div>
                         <div class="tab-pane fade" id="manage_2">
                             <div class="container-fluid">
                                 <div class="col-sm-12">
                                     <ul class="list-inline">
                                         <li class="list-group-item border_no"><span>dc.t (f3:d7:85:0e:3a:5d:4g:de:80:t5:3r:34)</span></li>
                                         <li class="list-group-item border_no pull-right"><a data-toggle="modal" data-target="#myModal_SSH" type=""><span class="glyphicon glyphicon-pencil"></span></a></li>
                                     </ul>
                                     <!--<label class="sr-only">用户名</label>-->
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    </div>



{% endblock %}